<label for="title" class="flex-grow">
  <Input @id="title" value={{this.title}} @type="text" @placeholder="i.e. Pay bills" aria-label="i.e. Pay bills" @autofocus={{true}} class="p-3 shadow-sm w-full focus:border-yellow-600" @enter={{fn @addTodo}}/>
</label>